body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  position: fixed;
  right: 20px;
  top: 27px;
  border-radius: 999px;
  margin-top: 30px;
  color: turquoise;
  width: 30px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background-color: transparent;
}